* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text", sans-serif;

}

.top_header {
    width: 100%;
    height: 40px;
    background-color: #1E3461;
    color: #fff;
    display: flex;
    position: relative;
}

.time {
    margin-left: 200px;
    line-height: 40px;
    text-align: center;
}

.top_icon {
    position: absolute;
    right: 0;
    margin-right: 125px;

}

.li_icon_top {
    display: inline-block;
    margin: 10px 10px;
}

.li_icon_top a i {
    color: #fff;
}

.logo_header {
    margin: 20px 200px;

}

.logo {
    width: 170px;
    height: 60px;
}

.menu_header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-right: 100px;
    background-color: #fff;
}

#ul_container {
    display: flex;
    text-transform: uppercase;
}

.li_container {
    list-style: none;
}

.li_container {
    position: relative;
}

.li_container a {
    display: flex;
    color: black;
    text-decoration: none;
    display: block;
    padding: 25px 20px;
}

#container-header li:hover a {
    color: #007aff;
}

header {
    font-size: 15px;
}

#ul_container {
    display: flex;
    list-style: none;
    margin: 20px;
    padding: 0;
}

#ul_container li {
    position: relative;
}

#ul_container li a {
    color: rgb(20, 22, 24);
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}

#ul_container ul.subul {
    position: absolute;
    background-color: rgb(248, 253, 253);
    padding: 0 0;
    list-style: none;
    width: 300px;
    border-bottom: 1px solid #13abec;
    display: none;
}

#ul_container li:hover>ul.subul {
    display: block;

}

#ul_container ul.subul a {
    padding: 8px 15px;
    border-top: 1px solid #13abec;
    left: 0;
}

#ul_container ul.subul:first-child a {
    border: none
}

#ul_container ul.subul ul.subul {
    margin-top: 25px;
    left: 300px;
    top: -15px;
}

#ul_container ul.subul li a {
    color: #0b0a0a;

}

#ul_container ul.subul li:hover a {
    color: #fff;

}

#ul_container ul.subul ul.subul li a {
    color: #0b0a0a;
}

#ul_container ul.subul ul.subul li:hover a {
    color: #fff;
}

ul.subul li.subli:hover {

    background-color: #007aff;
}

ul.subul li.subli a:hover {
    color: #fff;
}
.content4-2 a{
    text-decoration: none;
}
/* header */

.content1 {
    width: 100%;
    height: 400px;
    background-image: url(/img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 400px;
}

.content1-ul {
    width: 100%;
    height: 50px;
    background-color: #e7f3fd;

}

.ul-content1 {
    margin: 0 200px;
    display: flex;
}

.li-content1 {
    margin: 15px 20px;

}

.li-content1 a {
    text-decoration: none;
    color: #8b9298;
}

.li-content1:hover a {
    color: #13abec;
}

.content2 {
    margin: 100px 200px;
}

.content3 {
    margin: 100px 200px;
}

.content3-1 {
    margin-top: 30px;
    margin-bottom: 20px;
    float: left;

}

.ul-content3 {
    margin: 20px 50px;
}

.li-content3 {
    margin: 10px 5px;
    list-style-type: square;
    color: #13abec;
}

.li-content3 p {
    color: #8b9298;
}

.content3-1 h3 a {
    color: #bf2922;
    text-decoration: none;
}

.content3 h3 {
    color: #105BAA;
    font-size: 20px;
}

.content4-1 {
    margin-top: 320px;
}

.content4-1 h1 {
    color: #13abec;
    margin-bottom: 30px;
}

.content4-sp {
    display: flex;
    flex-wrap: wrap;
}

.content4-2 {
    margin: 50px 30px;
    width: 300px;
    height: 450px;
    border: 1px solid #8a7777;
    border-radius: 6px;
    width: 33, 3333%;
    box-sizing: border-box;

}

.color-banner {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #007aff;
    color: #fff;
}

.color-banner p {
    padding: 20px;
}

.name-sp {
    margin: 10px;
}

.content4-2:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content5 {
    margin: 100px 0px;
}

.li-content5 {
    margin: 20px 40px;
    list-style-type: square;
    color: #13abec;
}

.li-content5 p {
    color: #0b0a0a;
}


.content8 {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #1886EB;

}

.text-content8 {
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 200px;
    margin-right: 50px;
    flex: 3;
    color: #fff;
    font-size: 20px;
}

.content8 .xemthem3 {
    flex: 1;
    height: 40px;
    width: 100px;
    border: 1px solid #104f8b;
    border-radius: 4px;
    background-color: #105BAA;


}

.xemthem3 {
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 75px;
    margin-right: 200px;

}

.content8 .xemthem3 a {
    text-decoration: none;
}

.content8 .xemthem3:hover {
    background-color: #fff;
}

.xemthem3 p {
    margin-top: 12px;
    color: #fff;
    margin-left: 10px;
    font-size: 13px
}

.xemthem3:hover p {
    color: #065f85;
}
footer{
    width: 100%;
    height: 450px;
    background-color: #15223a;
}
.footer1 {
    display: flex;
    justify-content: space-between;
    background-color: #15223a;
    margin: 50PX 200px;
    padding: 10px;
  }
  
  .column {
    flex: 20%;
  }
  
  .column img {
    width: 150px ;
    height: 100px;
  }
  
  .column a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
  }
  
  .search , .search2{
    display: flex;
    width: 350px;
    height: 40px;
  }
  
  .search  input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    background-color: #f3f6fb;
  }
  .search2  input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    background-color: #2d394e;
    color: #fff;
  }